
.footer-container {
    position: relative;
    background-image: url('../../assets/screen9.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height:85vh;
    color: black;    
    margin: 2px;
    padding: 3px;
}

.text-container {
    position: absolute;
    top: 35%; 
    left: 50%;
      transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}

h1 {
    font-size: 42px;
    font-weight: bold;
    margin-top: -5%;
    margin-bottom:0%;
}

p {
    font-size: 18px;
    font-weight: normal;
}
.footer-icon{
    display:flex;
    align-items: center;
    justify-content: center;
    bottom: -20px;
}
.icon-images{
    margin:3px;
    height: auto;
    width: 17%;
    max-width: 100%;
}

@media only screen and (max-width:110px){
    .footer-parent{
        display: flex;
        align-items: flex-end;
    }
}

@media screen and (max-width:900px) {
    .footer-container{
        height: 57vh;
        margin-bottom: 45px;
    }
    .footer-label{
        font-size: 31px;
    }
    
}