.footer-cont{
     text-align: center;
     align-items: center;
     justify-content: center;

}

.nav-list{
    list-style-type: none;
    padding: 0;
    display: inline-block;
    justify-content: space-between;
    margin: 6px 6px 7px 7px;
    color: white;
}

.up{
    margin-bottom: 55px;
    color: white;
    
    text-align: center;
    align-items: center;
    justify-content: center;

}
.up-image{
    width: 100%;
    color: white;
    height: 20px;    
    text-align: center;
    align-items: center;
    justify-content: center;

}
.arrowImg{
    height: 12px;
    width: 2%;
}
.nav-list:hover{
    color: rgb(145, 202, 244);
}

.footer2{
    margin-top: -10px;
}
.dis-btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #ffffff;
    box-shadow: 0px 5px 0px #2980b9;
    transition: transform 0.3s, box-shadow 0.3s;
}
.dis-btn:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 0px #2980b9;
}