body{
    min-height: 0rem;
    padding-top: -20.5rem;
    margin-top: -4rem;
}
body::before{
    display: block;
    content: "";
    height: 60px;
     }
   @media(min-width:768px){
   .news-input{
       width:100%;}
   }
   #map{
       width: 100%;
       height:100%; 
       border:10%;
   }

.navbar{
margin-bottom:0.25%; 
background-image: url('../../../assets/fr-pages-bg.jpg');   
color: white;
width: 100%;
}
.navbar-collapse{
    margin-right:90px;
}
.navbar-brand{
    margin-left: 50px;

}
.nav-item{
    justify-content: center;
    align-items: center;
    text-align: center;
}


.navbar-toggler{
    text-decoration: none;
    margin-right: 10px;
}

.navbar-toggler:hover {
    text-decoration: none;
    margin-right: 20px;
}
