.project-parent{
    margin: 2% 2% 2% 2%;
        color: white;
        text-align: center;
        justify-content: center;
        border-color: white;
        width: 100%;
        max-width: 100%;
        margin: 0%;

    }

.project-container{
    margin-top: 10%;
    display: block;

}
.col-lg-3{
    margin-top: 4%;
    margin-bottom: 4%;
}
.website-image{
    width: 100%;
}
.line-divider2{
    justify-content: center;
    align-items: center;
    margin-left:25%;
    width:100%;
}
.mb-3, .card-text{
    color: black;
}
.live-btn{
    box-sizing: border-box;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px 04px -9px -11px;
    width: 73px;
    height: 2rem;
    font-family: sans-serif;
    font-family: 20px;
    transition: transform 0.3s, box-shadow 0.3s;

}

.code-btn{
    
    box-sizing: border-box;
    border-radius: 30px;
    
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 73px;
    height: 2rem;
    
    font-family: sans-serif;
    font-family: 20px;
    transition: transform 0.3s, box-shadow 0.3s;

}

.live-btn:hover{
    transform: translateY(-5px);
}

.code-btn:hover{
    transform: translateY(-5px);
}