


.project-container{
    margin-top: -22px;
    display: block;
    padding-top: 7%;
    width: 100%;
    margin-bottom: 20px;


}
.col-lg-3{
    margin-top: 4%;
    margin-bottom: 4%;
}
.website-image{
    width: 100%;
}
.line-divider2{
    justify-content: center;
    align-items: center;
    margin-left:25%;
    width:100%;
}
.mb-3, .card-text{
    color: black;
}

.live-btn{
    box-sizing: border-box;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px 04px -9px -11px;
    width: 73px;
    height: 2rem;
    font-family: sans-serif;
    font-family: 20px;
    transition: transform 0.3s, box-shadow 0.3s;

}

.code-btn{
    
    box-sizing: border-box;
    border-radius: 30px;
    
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 73px;
    height: 2rem;
    
    font-family: sans-serif;
    font-family: 20px;
    transition: transform 0.3s, box-shadow 0.3s;

}

.live-btn:hover{
    transform: translateY(-5px);
}

.code-btn:hover{
    transform: translateY(-5px);
}



 
 .line-divider2{
     justify-content: center;
     align-items: center;
     margin-left:25%;
     width:100%;
     margin-bottom: 60px;
 }
 

 .project-details{
     border-radius: 60px;
     height: 90vh;
     background-color:white;    
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
     border-color: white;
         width: 100%;
         max-width: 100%;
         margin-top:-52px;  
 
 }
 
 .project-carol{
     height: 65%;
     width:98%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     border-radius: 15px;
     margin: 8px 2px 4px 3px;
 }
 
 .project-carol .Left{
     flex: 5%;
     height: 100%;
     background-color: rgb(0, 0, 0, 0.6);
     display: grid;
     place-items: center;
     color: white;
     cursor: pointer;
 
 }
 .project-carol .Center{
     flex: 90%;
     height: 100%;
 
 }
 .project-carol .right{
     flex: 5%;
     height: 100%;
     background-color: rgb(0, 0, 0, 0.6);
     display: grid;
     place-items: center;
     color: white;
     cursor: pointer;
 }
 
 @media screen and (max-width:900px){
    .project-details{
        position: initial;
        width: 95%;
        height: 49vh;
        margin-bottom: 20px;
        margin-left: 11px;

        
    .project-label{
        font-size: 16px;
    }
    }

    
 }
 
 
 