.testimonial-parent{
    margin: 2% 2% 2% 2%;

}
.testimonial-container{
    margin-top: 10%;
    display: block;

}
.col-lg-3{
    margin-top: 4%;
    margin-bottom: 4%;
}
.line-divider3{
    width: 80%;
    margin-top: -50px;
    margin-bottom: -40px;
    margin-left: 350PX;

}