        
 .AboutMe-parent{
            color: white;
            text-align: center;
            justify-content: center;
            border-color: white;
            width: 100%;
            max-width: 100%;
            margin: 0%;

        }

 .Aboutme-Picture-background{  
            background-image: url('../../assets/earth.png');
        }



        .abt-container {
            display: flex;
          }
        
                  .text-box {
            word-wrap: break-word;
            height: 30vh;
            float: left;
            width: 50%; 
          }
          .aboutMe-text p{
            height: 30vh;
          }
          .aboutMe-text{
            height: 30vh;
          }

          @media screen and (max-width:900px){
            .AboutMe-parent{
              margin-bottom:193px;
              margin-top: -118px;
            
          }
        }